swagger: '2.0'
info:
  description: 'ARCHIVED SPECIFICATION - RETIRED API. This is the final publicly archived Swagger 2.0 definition of the FleetMon API (apiv2.fleetmon.com), preserved from the Internet Archive Wayback Machine (schema.json capture 2021-12-08; the developer portal at developer.fleetmon.com remained online through early 2025). FleetMon was acquired by Kpler in 2023, the FleetMon platform and API were phased out beginning January 2024 and migrated into MarineTraffic, and as of 2026 the fleetmon.com domain (including apiv2.fleetmon.com and developer.fleetmon.com) no longer resolves. None of the endpoints below are live. The successor surface is the MarineTraffic API portfolio / Kpler AIS (servicedocs.marinetraffic.com).


    --- Original description follows ---


    Welcome to our API reference!


    You can view JSON response samples in the area to the right.

    If you need help with the API, just [contact us](https://www.fleetmon.com/company/contact/).


    Follow us on [Facebook](https://www.facebook.com/fleetmon) and [Twitter](https://twitter.com/fleetmon) for the latest updates and news on the platform.


    With the use of the FleetMon API, you agree with the [Terms of Service](https://www.fleetmon.com/terms-of-service/).

    '
  title: FleetMon API Reference Basic Vessel Data Historical Track API API
  version: Version 2.4.2
  x-archived:
    status: retired
    retiredNote: FleetMon product offerings, logins, and the apiv2.fleetmon.com API were discontinued during the 2024 migration into MarineTraffic following the 2023 Kpler acquisition; fleetmon.com DNS no longer resolves as of 2026.
    archiveSource: http://web.archive.org/web/20211208160310/https://apiv2.fleetmon.com/schema.json
    archivedDeveloperPortal: http://web.archive.org/web/20250106234623/https://developer.fleetmon.com/reference/
    successor: https://servicedocs.marinetraffic.com/
    archivedBy: API Evangelist
    archivedDate: '2026-07-11'
host: apiv2.fleetmon.com
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- description: Returns historical AIS position reports with fixed period and rate, by MMSI.
  name: Historical Track API
  x-codename: ais_position
  x-tag-group: Professional Analysis
paths:
  /ais/position/:
    get:
      description: ''
      operationId: get-ais_position-listing
      parameters:
      - description: start time for track
        format: date-time
        in: query
        name: from
        required: false
        type: string
      - description: maximum number of messages to return
        format: int64
        in: query
        name: limit
        required: false
        type: integer
      - description: MMSI number
        format: int64
        in: query
        name: mmsi
        required: true
        type: integer
      - default: false
        description: If `true` some extra attributes will be added to the response informing about usage and limits of this endpoint.
        in: query
        name: request_limit_info
        required: false
        type: boolean
      - default: asc
        description: sorting of items
        enum:
        - asc
        - desc
        format: ascii
        in: query
        name: sort
        required: false
        type: string
      - description: resolution of track in seconds
        format: int64
        in: query
        name: time_res
        required: false
        type: integer
      - description: end time for track
        format: date-time
        in: query
        name: until
        required: false
        type: string
      responses:
        '200':
          description: Historical Track API - get ais position items response
          schema:
            $ref: '#/definitions/ais_position-response'
        '401':
          description: The server could not verify that you are authorized to access the URL.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-401
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 401
            description: The server could not verify that you are authorized to access the URL requested.
            message: Unauthorized
            status: error
        '403':
          description: The provided credentials were correct but the API is not yet fully configured.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-403
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 403
            description: The API is not yet fully configured.
            message: Forbidden
            status: error
        '405':
          description: The used HTTP method is not allowed for this URL.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-405
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 405
            description: The method is not allowed for the requested URL.
            message: Method Not Allowed
            status: error
        '422':
          description: A required parameter is missing or has a wrong structure.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-422
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 422
            description: The request was well-formed but was unable to be followed due to semantic errors.
            message: Unprocessable Entity
            status: error
        '429':
          description: The client requested the resource too many times. (rate limit)
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-429
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 429
            description: Only 200 requests per 30 days are allowed for this endpoint.
            message: Too Many Requests
            status: error
      security:
      - apikey: []
      - apikey_authorization_header: []
      - apikey_header: []
      summary: 'Returns historical AIS position reports with fixed period and rate. Input: MMSI'
      tags:
      - Historical Track API
definitions:
  error-message-response:
    properties:
      code:
        description: correlates to the HTTP status code
        format: int32
        type: integer
        xml:
          x-add-datatype: true
      description:
        description: more detailed description
        type: string
        xml:
          x-add-datatype: true
      message:
        description: short error message
        type: string
        xml:
          x-add-datatype: true
      status:
        description: '"error"'
        example: error
        format: ascii
        type: string
        xml:
          x-add-datatype: true
    required:
    - status
    - message
    - description
    - code
    type: object
  ais_position-response:
    properties:
      ais_position_items:
        items:
          $ref: '#/definitions/ais_position-response-ais_position_item'
        type: array
        xml:
          wrapped: true
          x-add-datatype: true
      request_limit_info:
        description: Information about usage and limits of this endpoint. Included if query parameter `request_limit_info` is `true`
        properties:
          left_requests:
            description: Number of requests left at this moment to this endpoint. If not included there is no limit.
            type: integer
            xml:
              x-add-datatype: true
          max_requests:
            description: Maximum number of requests to this endpoint within 30 days. If not included there is no limit.
            type: integer
            xml:
              x-add-datatype: true
          used_requests:
            description: Number of requests to this endpoint within the last 30 days.
            type: integer
            xml:
              x-add-datatype: true
        required:
        - used_requests
        title: request-limit-info
        type: object
        xml:
          x-add-datatype: true
    required:
    - ais_position_items
    type: object
    xml:
      name: response
      namespace: https://apiv2.fleetmon.com
      x-extra-attributes:
        timestamp:
          type: date-time
  ais_position-response-ais_position_item:
    properties:
      callsign:
        description: vessel's callsign via AIS
        format: ascii
        type: string
        x-nullable: true
        xml:
          x-add-datatype: true
      course:
        description: course over ground in degrees north-ward
        format: float
        type: number
        x-nullable: true
        xml:
          x-add-datatype: true
      destination:
        description: vessel's destination via AIS
        format: ascii
        type: string
        x-nullable: true
        xml:
          x-add-datatype: true
      draught:
        description: vessel's draught in m
        format: float
        type: number
        x-nullable: true
        xml:
          x-add-datatype: true
      eta:
        description: estimated time of arrival via AIS
        format: date-time
        type: string
        x-nullable: true
        xml:
          x-add-datatype: true
      heading:
        description: true heading of keel (hull) via AIS
        type: integer
        x-nullable: true
        xml:
          x-add-datatype: true
      imo:
        description: IMO number
        type: integer
        x-nullable: true
        xml:
          x-add-datatype: true
      latitude:
        description: position latitude received via AIS
        format: float
        type: number
        xml:
          x-add-datatype: true
      length:
        description: vessel's length in m
        type: integer
        xml:
          x-add-datatype: true
      longitude:
        description: position longitude received via AIS
        format: float
        type: number
        xml:
          x-add-datatype: true
      maneuver:
        description: special maneuver / blue sign flag
        type: boolean
        x-nullable: true
        xml:
          x-add-datatype: true
      mmsi:
        description: vessel's MMSI number via AIS
        type: integer
        xml:
          x-add-datatype: true
      name:
        description: vessel's name via AIS
        type: string
        xml:
          x-add-datatype: true
      nav_status:
        description: navigation status as reported via AIS
        type: integer
        x-nullable: true
        xml:
          x-add-datatype: true
      nmea:
        description: raw NMEA string containing AIS position message
        items:
          format: ascii
          type: string
          xml:
            name: item
            x-add-datatype: true
        type: array
        xml:
          wrapped: true
          x-add-datatype: true
      nmea_svd:
        description: raw NMEA string containing AIS static and voyage related data message
        items:
          format: ascii
          type: string
          xml:
            name: item
            x-add-datatype: true
        type: array
        xml:
          wrapped: true
          x-add-datatype: true
      shiptype:
        description: vessel's type of ship code via AIS
        type: integer
        xml:
          x-add-datatype: true
      source:
        description: either "terrestrial" or "satellite"
        format: ascii
        type: string
        xml:
          x-add-datatype: true
      speed:
        description: speed over ground in knots
        format: float
        type: number
        x-nullable: true
        xml:
          x-add-datatype: true
      timestamp:
        description: time of reception of AIS position report
        format: date-time
        type: string
        xml:
          x-add-datatype: true
      timestamp_svd:
        description: time of reception of AIS static and voyage related data report
        format: date-time
        type: string
        xml:
          x-add-datatype: true
      transponder_class:
        description: AIS Transponder class, either "A" or "B"
        format: ascii
        type: string
        xml:
          x-add-datatype: true
      turn:
        description: rate of turn in °/min, it might also contain "fast left" or "fast right" if > ±708°/min
        type: integer
        x-nullable: true
        xml:
          x-add-datatype: true
      width:
        description: vessel's width in m
        type: integer
        xml:
          x-add-datatype: true
    required:
    - timestamp
    - course
    - nav_status
    - heading
    - latitude
    - longitude
    - maneuver
    - mmsi
    - source
    - speed
    - transponder_class
    - turn
    title: ais_position-item
    type: object
    xml:
      name: ais_position_item
      x-add-datatype: true
securityDefinitions:
  apikey:
    description: Auth via API-Key Query-Parameter
    in: query
    name: apikey
    type: apiKey
  apikey_authorization_header:
    description: 'Auth via API-Key in ''Authorization'' header field in the form ''Authorization: Token <apikey>'''
    in: header
    name: Authorization
    type: apiKey
  apikey_header:
    description: Auth via API-Key in 'Api-Key' header field
    in: header
    name: Api-Key
    type: apiKey
x-tagGroups:
- name: My
  tags:
  - My API Keys
  - My Client
  - My User Notification Setting
  - My User Alert Addresses
  - Login Token
- name: Vessels
  tags:
  - Vessel Search
  - Vessel Photo
  - Vessel Schedule
  - Next Port / ETA Calculation
  - Vessel History
  - Vessel Positions Only
  - Vessel Identity
  - Vessel Route To Next Port
  - Vessels Nearby
  - Vessels Near Position
  - Historical AIS Static Messages
  - Historical Track API
  - Vessel Positions with Extended Vessel Data
  - Port Calls per Vessel
  - Vessel Coarse Type
  - ETA Reports
  - Basic Vessel Data
  - Non AIS Vessel Particulars
  - Vessel Time to Port
  - Vessel Change Events
  - Voyage Planning
  - Vessel Dynamic AIS
- name: Ports
  tags:
  - Expected Port Arrivals
  - Vessels in Port
  - Port Search
  - Port Calls per Port
- name: Fleets
  tags:
  - Fleet Tracker
  - My Fleet Positions
  - Dry and Bulk Cargo Fleet
- name: Logistics
  tags:
  - Logistics
  - RoRo Ferry Terminal Demo
  - Vessel ETA & Destination Change Events
  - Terminals
  - Estimated Laytime - Specific Vessel
- name: Zone
  tags:
  - Regional AIS
  - Zone Call
  - Zone Information
  - User Zones
- name: Routing
  tags:
  - Route To Port
  - Distance To Port
  - Vessel Route To Next Port
  - Vessel Route From Last Port
- name: Weather & Water
  tags:
  - Weather
  - Water
  - Current
