swagger: '2.0'
info:
  description: 'ARCHIVED SPECIFICATION - RETIRED API. This is the final publicly archived Swagger 2.0 definition of the FleetMon API (apiv2.fleetmon.com), preserved from the Internet Archive Wayback Machine (schema.json capture 2021-12-08; the developer portal at developer.fleetmon.com remained online through early 2025). FleetMon was acquired by Kpler in 2023, the FleetMon platform and API were phased out beginning January 2024 and migrated into MarineTraffic, and as of 2026 the fleetmon.com domain (including apiv2.fleetmon.com and developer.fleetmon.com) no longer resolves. None of the endpoints below are live. The successor surface is the MarineTraffic API portfolio / Kpler AIS (servicedocs.marinetraffic.com).


    --- Original description follows ---


    Welcome to our API reference!


    You can view JSON response samples in the area to the right.

    If you need help with the API, just [contact us](https://www.fleetmon.com/company/contact/).


    Follow us on [Facebook](https://www.facebook.com/fleetmon) and [Twitter](https://twitter.com/fleetmon) for the latest updates and news on the platform.


    With the use of the FleetMon API, you agree with the [Terms of Service](https://www.fleetmon.com/terms-of-service/).

    '
  title: FleetMon API Reference Basic Vessel Data Weather API
  version: Version 2.4.2
  x-archived:
    status: retired
    retiredNote: FleetMon product offerings, logins, and the apiv2.fleetmon.com API were discontinued during the 2024 migration into MarineTraffic following the 2023 Kpler acquisition; fleetmon.com DNS no longer resolves as of 2026.
    archiveSource: http://web.archive.org/web/20211208160310/https://apiv2.fleetmon.com/schema.json
    archivedDeveloperPortal: http://web.archive.org/web/20250106234623/https://developer.fleetmon.com/reference/
    successor: https://servicedocs.marinetraffic.com/
    archivedBy: API Evangelist
    archivedDate: '2026-07-11'
host: apiv2.fleetmon.com
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- description: Returns weather info for lat/lon (and timestamp).
  name: Weather
  x-codename: meteo_weather
paths:
  /meteo/weather/:
    get:
      description: ''
      operationId: get-meteo_weather-listing
      parameters:
      - default: 0.0
        description: Latitude for forecast
        format: float
        in: query
        name: lat
        required: false
        type: number
      - default: 0.0
        description: Longitude for forecast
        format: float
        in: query
        name: lon
        required: false
        type: number
      - default: false
        description: If `true` some extra attributes will be added to the response informing about usage and limits of this endpoint.
        in: query
        name: request_limit_info
        required: false
        type: boolean
      - description: Time  for forecast, defaults to `now`
        format: date-time
        in: query
        name: when
        required: false
        type: string
      responses:
        '200':
          description: Weather - get weather-reports response
          schema:
            $ref: '#/definitions/meteo_weather-response-listing'
        '401':
          description: The server could not verify that you are authorized to access the URL.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-401
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 401
            description: The server could not verify that you are authorized to access the URL requested.
            message: Unauthorized
            status: error
        '403':
          description: The provided credentials were correct but the API is not yet fully configured.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-403
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 403
            description: The API is not yet fully configured.
            message: Forbidden
            status: error
        '405':
          description: The used HTTP method is not allowed for this URL.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-405
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 405
            description: The method is not allowed for the requested URL.
            message: Method Not Allowed
            status: error
        '422':
          description: A required parameter is missing or has a wrong structure.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-422
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 422
            description: The request was well-formed but was unable to be followed due to semantic errors.
            message: Unprocessable Entity
            status: error
        '429':
          description: The client requested the resource too many times. (rate limit)
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-429
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 429
            description: Only 200 requests per 30 days are allowed for this endpoint.
            message: Too Many Requests
            status: error
      security:
      - apikey: []
      - apikey_authorization_header: []
      - apikey_header: []
      summary: Returns weather info for lat/lon (and timestamp).
      tags:
      - Weather
  /meteo/weather/{geohash}:
    get:
      description: ''
      operationId: get-meteo_weather-detail
      parameters:
      - description: Location as geohash (level 5)
        in: path
        name: geohash
        required: true
        type: string
      - default: false
        description: If `true` some extra attributes will be added to the response informing about usage and limits of this endpoint.
        in: query
        name: request_limit_info
        required: false
        type: boolean
      - description: Time  for forecast, defaults to `now`
        format: date-time
        in: query
        name: when
        required: false
        type: string
      responses:
        '200':
          description: Weather - get weather-report response
          schema:
            $ref: '#/definitions/meteo_weather-response-weather-report'
        '401':
          description: The server could not verify that you are authorized to access the URL.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-401
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 401
            description: The server could not verify that you are authorized to access the URL requested.
            message: Unauthorized
            status: error
        '403':
          description: The provided credentials were correct but the API is not yet fully configured.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-403
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 403
            description: The API is not yet fully configured.
            message: Forbidden
            status: error
        '404':
          description: Requested item does not exist.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-404
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 404
            description: The requested item was not found on the server.
            message: Not Found
            status: error
        '405':
          description: The used HTTP method is not allowed for this URL.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-405
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 405
            description: The method is not allowed for the requested URL.
            message: Method Not Allowed
            status: error
        '422':
          description: A required parameter is missing or has a wrong structure.
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-422
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 422
            description: The request was well-formed but was unable to be followed due to semantic errors.
            message: Unprocessable Entity
            status: error
        '429':
          description: The client requested the resource too many times. (rate limit)
          schema:
            allOf:
            - $ref: '#/definitions/error-message-response'
            - title: response-status-429
            xml:
              name: response
              namespace: https://apiv2.fleetmon.com
              x-extra-attributes:
                timestamp:
                  type: date-time
          x-example-object:
            code: 429
            description: Only 200 requests per 30 days are allowed for this endpoint.
            message: Too Many Requests
            status: error
      security:
      - apikey: []
      - apikey_authorization_header: []
      - apikey_header: []
      summary: Returns weather info for Geohash level 5 (and timestamp).
      tags:
      - Weather
definitions:
  error-message-response:
    properties:
      code:
        description: correlates to the HTTP status code
        format: int32
        type: integer
        xml:
          x-add-datatype: true
      description:
        description: more detailed description
        type: string
        xml:
          x-add-datatype: true
      message:
        description: short error message
        type: string
        xml:
          x-add-datatype: true
      status:
        description: '"error"'
        example: error
        format: ascii
        type: string
        xml:
          x-add-datatype: true
    required:
    - status
    - message
    - description
    - code
    type: object
  meteo_weather-response-weather-report:
    properties:
      cloud_cover:
        description: Total Cloud Cover
        format: int8
        type: integer
        x-nullable: true
        xml:
          x-add-datatype: true
      forecast_time:
        description: Forecast time
        format: date-time
        type: string
        xml:
          x-add-datatype: true
      humidity:
        description: Relative humidity @ 2m height above ground
        format: int64
        type: integer
        xml:
          x-add-datatype: true
      ice_cover:
        description: Ice cover
        format: int8
        type: integer
        xml:
          x-add-datatype: true
      land:
        description: Land-sea mask
        type: boolean
        xml:
          x-add-datatype: true
      lat:
        description: Latitude
        format: float
        type: number
        xml:
          x-add-datatype: true
      lon:
        description: Longitude
        format: float
        type: number
        xml:
          x-add-datatype: true
      model_runtime:
        description: Model run time
        format: date-time
        type: string
        xml:
          x-add-datatype: true
      pressure:
        description: Pressure reduced to MSL @ msl
        format: int64
        type: integer
        xml:
          x-add-datatype: true
      request_limit_info:
        description: Information about usage and limits of this endpoint. Included if query parameter `request_limit_info` is `true`
        properties:
          left_requests:
            description: Number of requests left at this moment to detail URLs of this endpoint. If not included there is no limit.
            type: integer
            xml:
              x-add-datatype: true
          left_requests_overall:
            description: Number of requests left at this moment to this endpoint. If not included there is no limit.
            type: integer
            xml:
              x-add-datatype: true
          max_requests:
            description: Maximum number of requests to detail URLs of this endpoint within 30 days. If not included there is no limit.
            type: integer
            xml:
              x-add-datatype: true
          max_requests_overall:
            description: Maximum number of requests to this endpoint within 30 days. If not included there is no limit.
            type: integer
            xml:
              x-add-datatype: true
          used_requests:
            description: Number of requests to detail URLs of this endpoint within the last 30 days.
            type: integer
            xml:
              x-add-datatype: true
          used_requests_overall:
            description: Number of requests to this endpoint within the last 30 days.
            type: integer
            xml:
              x-add-datatype: true
        required:
        - used_requests_overall
        - used_requests
        title: request-limit-info
        type: object
        xml:
          x-add-datatype: true
      temperature:
        description: Temperature @ 2m height above ground
        format: float
        type: number
        xml:
          x-add-datatype: true
      wind_dir:
        description: Wind direction [from which blowing]
        format: int64
        type: integer
        xml:
          x-add-datatype: true
      wind_gust:
        description: Wind speed gust @ surface
        format: float
        type: number
        xml:
          x-add-datatype: true
      wind_speed:
        description: Wind speed
        format: float
        type: number
        xml:
          x-add-datatype: true
      wind_u_cmp:
        description: U-component of wind @ 10m height above ground
        format: float
        type: number
        xml:
          x-add-datatype: true
      wind_v_cmp:
        description: V-component of wind @ 10m height above ground
        format: float
        type: number
        xml:
          x-add-datatype: true
    required:
    - forecast_time
    - model_runtime
    - lat
    - lon
    - wind_dir
    - wind_speed
    - wind_u_cmp
    - wind_v_cmp
    - wind_gust
    - temperature
    - humidity
    - pressure
    - land
    - ice_cover
    - cloud_cover
    title: weather-report
    type: object
    xml:
      name: response
      namespace: https://apiv2.fleetmon.com
      x-extra-attributes:
        timestamp:
          type: date-time
  meteo_weather-response-listing-weather-report:
    properties:
      cloud_cover:
        description: Total Cloud Cover
        format: int8
        type: integer
        x-nullable: true
        xml:
          x-add-datatype: true
      forecast_time:
        description: Forecast time
        format: date-time
        type: string
        xml:
          x-add-datatype: true
      humidity:
        description: Relative humidity @ 2m height above ground
        format: int64
        type: integer
        xml:
          x-add-datatype: true
      ice_cover:
        description: Ice cover
        format: int8
        type: integer
        xml:
          x-add-datatype: true
      land:
        description: Land-sea mask
        type: boolean
        xml:
          x-add-datatype: true
      lat:
        description: Latitude
        format: float
        type: number
        xml:
          x-add-datatype: true
      lon:
        description: Longitude
        format: float
        type: number
        xml:
          x-add-datatype: true
      model_runtime:
        description: Model run time
        format: date-time
        type: string
        xml:
          x-add-datatype: true
      pressure:
        description: Pressure reduced to MSL @ msl
        format: int64
        type: integer
        xml:
          x-add-datatype: true
      temperature:
        description: Temperature @ 2m height above ground
        format: float
        type: number
        xml:
          x-add-datatype: true
      wind_dir:
        description: Wind direction [from which blowing]
        format: int64
        type: integer
        xml:
          x-add-datatype: true
      wind_gust:
        description: Wind speed gust @ surface
        format: float
        type: number
        xml:
          x-add-datatype: true
      wind_speed:
        description: Wind speed
        format: float
        type: number
        xml:
          x-add-datatype: true
      wind_u_cmp:
        description: U-component of wind @ 10m height above ground
        format: float
        type: number
        xml:
          x-add-datatype: true
      wind_v_cmp:
        description: V-component of wind @ 10m height above ground
        format: float
        type: number
        xml:
          x-add-datatype: true
    required:
    - forecast_time
    - model_runtime
    - lat
    - lon
    - wind_dir
    - wind_speed
    - wind_u_cmp
    - wind_v_cmp
    - wind_gust
    - temperature
    - humidity
    - pressure
    - land
    - ice_cover
    - cloud_cover
    title: weather-report
    type: object
    xml:
      name: weather-report
      x-add-datatype: true
  meteo_weather-response-listing:
    properties:
      request_limit_info:
        description: Information about usage and limits of this endpoint. Included if query parameter `request_limit_info` is `true`
        properties:
          left_requests:
            description: Number of requests left at this moment to listing URL of this endpoint. If not included there is no limit.
            type: integer
            xml:
              x-add-datatype: true
          left_requests_overall:
            description: Number of requests left at this moment to this endpoint. If not included there is no limit.
            type: integer
            xml:
              x-add-datatype: true
          max_requests:
            description: Maximum number of requests to listing URL of this endpoint within 30 days. If not included there is no limit.
            type: integer
            xml:
              x-add-datatype: true
          max_requests_overall:
            description: Maximum number of requests to this endpoint within 30 days. If not included there is no limit.
            type: integer
            xml:
              x-add-datatype: true
          used_requests:
            description: Number of requests to listing URL of this endpoint within the last 30 days.
            type: integer
            xml:
              x-add-datatype: true
          used_requests_overall:
            description: Number of requests to this endpoint within the last 30 days.
            type: integer
            xml:
              x-add-datatype: true
        required:
        - used_requests_overall
        - used_requests
        title: request-limit-info
        type: object
        xml:
          x-add-datatype: true
      weather-reports:
        items:
          $ref: '#/definitions/meteo_weather-response-listing-weather-report'
        type: array
        xml:
          wrapped: true
          x-add-datatype: true
    required:
    - weather-reports
    type: object
    xml:
      name: response
      namespace: https://apiv2.fleetmon.com
      x-extra-attributes:
        timestamp:
          type: date-time
securityDefinitions:
  apikey:
    description: Auth via API-Key Query-Parameter
    in: query
    name: apikey
    type: apiKey
  apikey_authorization_header:
    description: 'Auth via API-Key in ''Authorization'' header field in the form ''Authorization: Token <apikey>'''
    in: header
    name: Authorization
    type: apiKey
  apikey_header:
    description: Auth via API-Key in 'Api-Key' header field
    in: header
    name: Api-Key
    type: apiKey
x-tagGroups:
- name: My
  tags:
  - My API Keys
  - My Client
  - My User Notification Setting
  - My User Alert Addresses
  - Login Token
- name: Vessels
  tags:
  - Vessel Search
  - Vessel Photo
  - Vessel Schedule
  - Next Port / ETA Calculation
  - Vessel History
  - Vessel Positions Only
  - Vessel Identity
  - Vessel Route To Next Port
  - Vessels Nearby
  - Vessels Near Position
  - Historical AIS Static Messages
  - Historical Track API
  - Vessel Positions with Extended Vessel Data
  - Port Calls per Vessel
  - Vessel Coarse Type
  - ETA Reports
  - Basic Vessel Data
  - Non AIS Vessel Particulars
  - Vessel Time to Port
  - Vessel Change Events
  - Voyage Planning
  - Vessel Dynamic AIS
- name: Ports
  tags:
  - Expected Port Arrivals
  - Vessels in Port
  - Port Search
  - Port Calls per Port
- name: Fleets
  tags:
  - Fleet Tracker
  - My Fleet Positions
  - Dry and Bulk Cargo Fleet
- name: Logistics
  tags:
  - Logistics
  - RoRo Ferry Terminal Demo
  - Vessel ETA & Destination Change Events
  - Terminals
  - Estimated Laytime - Specific Vessel
- name: Zone
  tags:
  - Regional AIS
  - Zone Call
  - Zone Information
  - User Zones
- name: Routing
  tags:
  - Route To Port
  - Distance To Port
  - Vessel Route To Next Port
  - Vessel Route From Last Port
- name: Weather & Water
  tags:
  - Weather
  - Water
  - Current
